<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <input type="checkbox" name="<%= task.title %>" value="<%= task.title %>"><%= link_to task.title, task_path(task) %><br>
<% end %>
<p><%= link_to 'Add new task', new_task_path %></p>
